
body{ 
 margin: 1rem auto;
 font-family: Helvetica, sans-serif; 
 font-size:1.15rem; 
 text-align: center;
 display: flex;
 flex-direction: column;
 align-content: center;
}

h1{
 font-size: 1.7rem;
}

h2{
 font-size: 1.4rem;
}
 
ul{
 list-style: none; 
 width: 17rem;
 margin: auto;
}
ul li { }
ul li a{
 display:block;
 text-decoration:none;
 color:#000000;
 background-color:#FFFFFF;
 line-height:1.5;
 border-bottom-style:solid; 
 border-bottom-width:1px; 
 border-bottom-color:#CCCCCC; 
 cursor:pointer;
}
ul li a:hover{ 
 color:#FFFFFF; 
 background-color: #14a24a; 
}
ul li a strong{ 
 margin-right:10px;
}
